@import "../general/base.css";
@import "../general/input.css";
@import "../general/admin/admin_back_button.css";


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form__grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
}

.admin-login-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--on-surface);
    text-align: center;
}

.login-form__button {
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 300px;
    padding: 12px;
    width: 200px;
    cursor: pointer;
}
