.light {
  --primary: rgb(114 81 136);
  --surface-tint: rgb(114 81 136);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(243 218 255);
  --on-primary-container: rgb(43 12 64);
  --secondary: rgb(103 90 110);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(239 220 245);
  --on-secondary-container: rgb(34 23 41);
  --tertiary: rgb(129 81 84);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 218 219);
  --on-tertiary-container: rgb(51 16 20);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(65 0 2);
  --background: rgb(255 247 253);
  --on-background: rgb(30 26 32);
  --surface: rgb(255 247 253);
  --on-surface: rgb(30 26 32);
  --surface-variant: rgb(234 223 234);
  --on-surface-variant: rgb(75 69 77);
  --outline: rgb(124 116 126);
  --outline-variant: rgb(205 195 206);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(51 47 53);
  --inverse-on-surface: rgb(247 238 246);
  --inverse-primary: rgb(223 184 246);
  --primary-fixed: rgb(243 218 255);
  --on-primary-fixed: rgb(43 12 64);
  --primary-fixed-dim: rgb(223 184 246);
  --on-primary-fixed-variant: rgb(89 58 110);
  --secondary-fixed: rgb(239 220 245);
  --on-secondary-fixed: rgb(34 23 41);
  --secondary-fixed-dim: rgb(210 193 217);
  --on-secondary-fixed-variant: rgb(79 66 86);
  --tertiary-fixed: rgb(255 218 219);
  --on-tertiary-fixed: rgb(51 16 20);
  --tertiary-fixed-dim: rgb(244 183 186);
  --on-tertiary-fixed-variant: rgb(102 59 61);
  --surface-dim: rgb(224 215 223);
  --surface-bright: rgb(255 247 253);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(250 241 249);
  --surface-container: rgb(244 235 243);
  --surface-container-high: rgb(238 230 237);
  --surface-container-highest: rgb(233 224 232);
}
